.bg-secondary-light {
    background-color: #fee5dd;
}

body {
  font-size: 16px;
}
img {
  max-width: 100%;
}
#banner-header {
  background-color: $footer-bg-color;
  min-height: 68px;
  p {
    color: $white;
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
    margin-top: 18px;
    padding: 0 20px;
  }
}
#banner {
  position: relative;
  .readmore {
    a {
      font-weight: 100;
    }
  }
  #banner-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    section {
      padding: 100px 0 100px 0;
      p {
        color: $white;
        font-weight: 100;
        font-size: 70px;
        line-height: 70px;
        margin-bottom: 100px;
        span {
          color: $secondary-color;
          font-weight: 700;
        }
      }
    }
  }
}
#what-we-do {
  h2#n2-ss-1item2 {
    color: $secondary-color;
    font-weight: 100;
    display: block;
  }
  p {
    color: $black;
  }
}
#our-expertise {
  background-color: $white;
  padding: 4em 0 1em;
  h2 {
    color: $secondary-color;
    font-weight: 100;
    font-size: 60px;
    line-height: 60px;
    margin: 60px 0 90px 0;
  }
  .item {
    margin-bottom: 60px;
  }
  a {
    //border: 5px solid #26257a;
    //border-radius: 50%;
    //position: relative;
    //overflow: hidden;
    //max-width: 328px;
    //width: 100%;
    //max-height: 328px;
    //height: 100%;
    //display: block;
    //margin: 0 auto;
    //background: url(https://www.onel.com.au/app/uploads/2016/04/our-expertise-e1464166065966.jpg) no-repeat center / cover;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    width: 360px;
    height: 360px;
    display: block;
    margin: 0;


    section {
      position: absolute;
      text-align: center;
      top: 44%; left: 50%;
      transform: translate(-50%,-50%);
      height: 50%;
      width: 54%;
      vertical-align: middle;
      padding-top: 18%;
      z-index: 1;
      p {
        color: $white;
        font-weight: 100;
        font-size: 30px;
        line-height: 30px;
      }
      span {
        display: block;
        width: 37px;
        height: 41px;
        &.arrow-down {
          background: url($icon-arrow-down-normal) no-repeat center center transparent;
          margin: 30px auto 0 auto;
          transition-duration: .5s;
        }
      }
    }

    div {
      background-color: rgba(255,103,7,0.4);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      border-radius: 50%;

      transition: background-color 0.5s ease;
    }

    &:hover {
      div {
          background-color: rgba(80,75,146,.4);
      }
      .arrow-down {
          background: url($icon-arrow-down-hover) no-repeat center center transparent;
          margin: 40px auto 0 auto;
          -webkit-transition-property: -webkit-transform;
          transition-property: transform;
          -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
          transition-duration: .5s;
        }
    }
  }
}
#case-studies {
  background-color: $case-studies-bg-color;
  padding: 20px 0 60px 0;
  div {
    div {
      div {
        h2 {
          color: $brand-primary;
          font-weight: 100;
          font-size: 60px;
          line-height: 60px;
          margin: 60px 0 90px;
        }
      }
    }
  }
  img {
    width: 100%;
  }
  .featured {
    section {
      background-color: $tertiary-color;
      padding: 25px 20px 20px 20px;
      h2 {
        color: $white;
        font-weight: 100;
        font-size: 30px;
        line-height: 35px;
        margin: 0 0 10px 0;
      }
      p {
        color: $white;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin: 0;
        padding-right: 50px;
        }
      a {
        text-decoration: none;
        height: 40px;
        height: 40px;
        &.hvr-icon-forward {
          &:before {
            font-size: 40px;
            color: $secondary-color;
            right: 5px;
            top: -45px;
          }
          span {
            background-color: $white;
            position: absolute;
            top: -40px;
            width: 26px;
            height: 30px;
            border-radius: 100%;
            z-index: -1;
            left: -5px;
            -webkit-transition-property: -webkit-transform;
            transition-property: transform;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
            transition-duration: .5s;
          }
          &:hover {
              span {
                left: -1px;
                -webkit-transition-property: -webkit-transform;
                transition-property: transform;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
                transition-duration: .5s;
              }
          }
        }
      }
    }
  }
  .aside {
    .item {
      margin-bottom: 30px;
    }
    section {
      position: relative;
      max-height: 450px;
      overflow: hidden;
      width: 100%;

      h2 {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $tertiary-color;
        padding: 25px 20px 10px 20px;
        width: 100%;
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $white;
        a {
          text-decoration: none;
          height: 40px;
          height: 40px;
          &.hvr-icon-forward {
            &:before {
              font-size: 40px;
              color: $secondary-color;
              right: 5px;
              top: 0px;
            }
            span {
              background-color: $white;
              position: absolute;
              top: -3px;
              width: 26px;
              height: 30px;
              border-radius: 100%;
              z-index: -1;
              left: 0px;
              -webkit-transition-property: -webkit-transform;
              transition-property: transform;
              -webkit-transition-timing-function: ease-out;
              transition-timing-function: ease-out;
              transition-duration: .5s;
            }
            &:hover {
              span {
                left: -1px;
                -webkit-transition-property: -webkit-transform;
                transition-property: transform;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
                transition-duration: .5s;
              }
            }
          }
        }
      }
    }
  }
}
#find-us {
  background-color: $fid-us-bg-color;
  padding-top: 15px;
  padding-bottom: 15px;
  h2 {
    color: $secondary-color;
    font-weight: 300;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
   section {
     margin-bottom: 20px;
     & > span {
       color: $black;
       font-weight: 300;
       font-size: 16px;
       margin-bottom: 30px;
       display: block;
     }
   }
  p {
    color: $black;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    span {
      color: $black;
      font-weight: 400;
      font-size: 30px;
    }
    a {
      color: $secondary-color;
    }
  }
}
#n2-ss-1-align {
  .hvr-icon-forward {
    .nextend-smartslider-button-container {
      cursor: pointer;
      display: inline-block;
      white-space: nowrap;
      position: relative;
      left: -110px;
      top: 35px;
      z-index: -1;
      background-color: transparent;
    }
    &:before {
      font-size: 600%;
      color: #f84f1b;
      cursor: pointer;
      width: 80px;
      height: 80px;
      border-radius: 100px;
    }
    span {
      background-color: $white;
      display: block;
      width: 60px;
      height: 60px;
      position: absolute;
      left: -130px;
      top: 40px;
      border-radius: 100px;
      z-index: -1;
    }
  }
  .bg-white {
    &:before {
      font-size: 600%;
      background-color: #f84f1b;
      cursor: pointer;
      width: 80px;
      height: 80px;
      border-radius: 100px;
    }
  }
}

.rounded-items {
  background-color: $white;
  padding: 20px 0;
  article {
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    margin: 0px 0 100px 0;
    overflow: hidden;
    border-color: $border-color;
    overflow: hidden;
    .entry-summary {
      max-width: 800px;
      text-align: center;
      margin: 0 auto;
      padding: 20px 0 10px 0;
      a {
        display: inline;
      }
    }
    p {
      font-weight: 400;
      color: $black;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }
  h2 {
    color: $secondary-color;
    font-weight: 100;
    font-size: 70px;
    line-height: 70px;
    margin: 60px 0 90px 0;
  }
  .item {
    margin-bottom: 60px;
    img {
      width: 100%;
    }
  }
  a {
    position: relative;
    overflow: hidden;
    max-width: 328px;
    width: 100%;
    max-height: 328px;
    height: 100%;
    display: block;
    margin: 0 auto;
    section {
      position: absolute;
      text-align: center;
      top: 50%; left: 50%;
      transform: translate(-50%,-50%);
      height: 50%;
      width: 90%;
      vertical-align: middle;
      padding-top: 18%;
      z-index: 1;
      p {
        color: $secondary-color;
        font-weight: 100;
        font-size: 30px;
        line-height: 30px;
      }
      span {
        display: block;
        width: 37px;
        height: 41px;
        &.arrow-down {
          background: url($icon-arrow-down-hover) no-repeat center center transparent;
          margin: 30px auto 0 auto;
          transition-duration: .5s;
        }
      }
    }
    div {
      display: none;
      background-color: rgba(38,36,123,0.7);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      border-radius: 50%;
      -webkit-transition-property: -webkit-transform;
      transition-property: transform;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
      transition-duration: .5s;
    }
    &:hover {
      p {
          color: $white;
      }
      div {
        display: block;
        -webkit-transition-property: -webkit-transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        transition-duration: .5s;
      }
      .arrow-down {
        background: url($icon-arrow-down-normal) no-repeat center center transparent;
        margin: 40px auto 0 auto;
        -webkit-transition-property: -webkit-transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        transition-duration: .5s;
      }
    }
  }
}
.page-header {
  padding: 40px 0 40px 0;
  margin: 0;
  h1 {
  }
}
h1,h2,h3,h4,h5,h6 {
}
input[type='text'], input[type='email'], select, textarea {
  padding: 8px !important;
  border-style: solid;
  border-width: 1px;
  border-color: $border-color;
  width: 100% !important;
}
textarea {
  resize: none;
  overflow: auto;
}
input[type='submit'], .btn-default, .search-form .search-submit {
    border-style: none;
    background-color: $secondary-color !important;
    color: $white;
    width: inherit;
    font-size: inherit !important;
    padding: 8px 20px !important;
    border-radius: 4px !important;
    width: inherit;
    transition: all .1s ease;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -o-transition: all .1s ease;
  &:hover {
    background-color: $button-hover-color;
    transition: all .1s ease;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -o-transition: all .1s ease;
  }
}
.gform_wrapper {
  margin: -5px 0 1em 0 !important;
  ul.top_label {
    li {
      margin-bottom: 10px;
      label.gfield_label {
        display: none;
      }
    }
  }
}
.gform_wrapper .gform_footer {
  padding: 0em 0 .625em 0 !important;
  margin: 0 !important;
}

/* Custom CSS */

article.post-142.service.type-service.status-publish.hentry.services-service {
  padding-right: 40px;
}

.widget h3 {

  text-align: center;
}

.page-header {
  background: rgba(0, 0, 0, 0.05);
}

main.main ul li {
  margin-bottom: 20px;
  line-height: 28px;
}

.page-id-25 #find-us {
  display: none;
}

main h2 {
  line-height: 38px;
}

.h3, h3 {
  font-size: 30px;
  line-height: 38px;
}

.wrap .content main li {
  margin-bottom: 10px;
  line-height: 20px;
}

.wrap .content main p {
  line-height: 28px;
}


.brand>img {
  margin-top: -3.3em;
}

p.pull-left {
  margin-top: 4px;
}

#banner .home-banner .btn-primary, #banner .home-banner .comment-form input[type=submit], .comment-form #banner .home-banner input[type=submit] {
  font-size: 25px;
  padding-left: 50px;
  padding-right: 50px;
}
