// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$brand-primary:         #26247b;
$secondary-color:       #f84f1b;
$tertiary-color:        #504b92;
$menu-hover-color:      #eaeaf2;
$secondary-menu-hover:  #fee5dd;
$header-bar-color:      #504b92;
$white:                 #ffffff;
$black:                 #000000;
$footer-bg-color:       #26247b;
$footer-bar-bg-color:   #504b92;
$fid-us-bg-color:       #fee5dd;
$case-studies-bg-color: #ded1e1;
$drop-down-menu-background: rgba(240,239,245,0.8);
$drop-down-menu-border-color: #555095;
$drop-down-menu-hover-color: #fee5dd;
$drop-down-menu-arrow-color: #f0eff5;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-family-OpenSans: 'Open Sans', sans-serif;

$open_sansregular: 'open_sansregular';
$open_sanslight: 'open_sanslight';
$open_sansbold: 'open_sansbold';

$main-menu-primary-font-size: 30px;
$main-menu-secondary-font-size: 16px;
$footer-footnote-font-size: 12px;
$icon-arrow-down-hover: "../images/icon-arrow-down-hover.png";
$icon-arrow-down-normal: "../images/icon-arrow-down-normal.png";

$small-device-phone: '768px';