.navbar {
  margin-bottom: 0px;
  border: 0px solid transparent;
}
.header-bar {
  min-height: 70px;
  background-color: $header-bar-color;
  line-height: 24px;
  section {
    margin-top: 20px;
  }
  p {
    color: $white;
    font-size: 16px;
    font-weight: 400;
    span {
      font-weight: 700;
    }
  }
  ol{
    &.connect {
      list-style-type: none;
      margin: -5px 0 0 20px;
      padding: 0;
    }
  }
}

.nav-bg {
    height: 100px;
    background-color: rgba(38, 36, 123, 0.95);
    .navbar-header .navbar-brand >img {
      height: 120px;
      margin-top: -3em;
    }
}


#menu-main-menu {
  & > li {
    &  > a {
      color: $white;
      font-size: $main-menu-primary-font-size;
      font-weight: 300;
      &:hover {
        color: $secondary-color;
      }
    }
    .dropdown-menu {
      li {
        a {
          color: $white;
          font-size: $main-menu-secondary-font-size;
          font-weight: 300;
        }
      }
    }
  }
}
.navbar-default {
  .navbar-collapse {
    margin-top: 18px;
  }

  .navbar-nav {
    & > .active {
      & >a {
        background-color: transparent;
        font-weight: 400 !important;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: $secondary-menu-hover;
}
.dropdown-menu {
  background-color: $drop-down-menu-background;
}
ul#menu-main-menu {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
  li {
    &.dropdown {
      a {
        background-color: transparent;
        span.caret {
          display: none;
        }
      }
    }
    ul{
      &.dropdown-menu {
        padding: 0;
        border-radius: 0;
        li {
          border-bottom-style: solid;
          border-bottom-width: 1px;
          border-bottom-color: $drop-down-menu-border-color;
          a {
            color: $black;
            font-weight: 400;
            padding: 10px 20px;
            font-size: 16px;
            &:hover {
              background-color: $drop-down-menu-hover-color;
            }
          }
          &:last-child {
            border: transparent;
          }
          &:hover{
            ul{
              &.dropdown-menu {
                display: block;
              }
            }
          }
        }

      }
    }

  }
}

ul#menu-main-menu > li.menu-item-has-children > ul, ul#menu-main-menu > li.current-menu-parent > ul {
  top: 150%;
  &:before {
    position: absolute;
    top: -20px;
    left: 15px;
    display: inline-block;
    border-right: 12px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 12px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
  }
  :after {
    position: absolute;
    top: -20px;
    left: 15px;
    display: inline-block;
    border-right: 12px solid transparent;
    border-bottom: 20px solid $drop-down-menu-arrow-color;
    border-left: 12px solid transparent;
    content: '';
  }
  li {
    &:hover {
     > a {
        background-color: $drop-down-menu-hover-color;
      }
    }
    ul {
      position: static;
      border: none;
      li {
        border: none;
        a {
          &:hover {
            background: transparent;
            color: $secondary-color;
          }
        }
      }
    }
  }
}
div#n2-ss-2 .n2-font-07734729d46c383b2a8b6f9be1681684-paragraph {
  margin-bottom: 0.8%;
}
#n2-ss-1-align .hvr-icon-forward .nextend-smartslider-button-container {
  z-index: 1;
  left: -50px;
  top: 29px;
  border-radius: 100%;
  height: 120px;
}
div#n2-ss-1 .n2-font-1103-link a {
  height: 120px;
}
@media screen and (max-width: 768px) {
  .n2-ss-layer.readmore a {
      position: relative;
      top: 10px;
      left: 5%;
    }
}